@import url("https://fonts.googleapis.com/css2?family=Dongle&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Libre+Baskerville&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');

body {
    margin: 0;
    background-color: rgb(177, 205, 238);
    /* background-image: url(src/bg.jpg); */
}

.contain {
    /* max-width: 1000px; */
    margin: 0px 50px;
    display: grid;
    /* grid-template-columns: minmax(300px); */
    grid-template-columns: 2fr 1fr;
    gap: 5rem;
    font-size: 3rem;
    font-family: "Dongle", sans-serif;
}

.contain div.header h1 {
    font-family: "Libre Baskerville", serif;
    font-size: 1.2em;
    font: bolder;
}

.contain .image img{
    margin-top: 5rem;
    border-radius: 3%;
    border: 0.1rem black solid;
}

.contain .info .more{
    font-family: 'Roboto Mono', monospace;
    font-size: 0.5em;
}