@import url('https://fonts.googleapis.com/css2?family=Arvo:wght@700&family=Crete+Round&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Aleo:wght@800&display=swap');

body{
    margin: 0;
    background-image: url(https://images.pexels.com/photos/2757549/pexels-photo-2757549.jpeg?cs=srgb&dl=pexels-elias-tigiser-2757549.jpg&fm=jpg);
    background-color: rgb(135, 106, 106);
    background-blend-mode: multiply;
    background-size: cover; 
    background-position: center center; 
    background-repeat: no-repeat;
    background-attachment: local;
}

.header h1{
    font-size: 50px;
    font-family: Aleo;
    color: rgb(255, 255, 255);
    display: flex;
    justify-content: center;
    margin: 15px 0;
}

.contain{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-bottom: 30px;

}

.info{
    flex-basis: 60%;
    position: relative;
    margin: 0 20px;
    justify-content: center;
    color: rgb(255, 255, 255);
}

.info strong{
    font-size: 23px;
    font-family: Arvo;
}

.info p{
    font-size: 17px;
    /* font-weight: 50; */
    margin: 20px  15px;
    font-family: Crete Round;
    text-align: justify;
}

.info .more{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.info .more a{
    text-decoration: none;
    background: #1ac330;
    color: white;
    font-size: 21px;
    font-weight: 100;
    border-radius: 10px;
    padding: 6px 10px;
}

.image{
    position: relative;
    flex-basis: 40%;
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 45%;
    margin-top: 110px;
}

.image .img{
    width: 80%;
    border-radius: 35px;
    box-shadow: 6px 6px 10px rgba(0, 0, 0, 0.429);
    transition: transform .3s;
}

.image .img:hover{
    box-shadow: 8px 8px 12px rgba(0, 0, 0, 0.358);
    transform: scale(1.03);
}

footer{
    color: white;
    text-align: center;
    font-size: 23px;
    /* backdrop-filter: blur(50px); */
    padding: 80px 10px 15px;
}

footer{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

footer .developed{
    padding:0 50px;
}

@media only screen and (max-width:750px){
    .contain{
        flex-direction: column-reverse;
        margin: 20px 0;
    }

    .image{
        flex-basis: 100%;
        margin-bottom: 10px;
        margin-top: 0;
    }

    .image .img{
        width: 88%;
    }

    .info{
        flex-basis: 100%;
        margin: 0 15px;
    }

    .header h1{
        font-size: 40px;
        justify-content: center;
        text-align: center;
    }

    .info strong{
        font-size: 21px;
    }

    .info p{
        font-size: 15px;
    }

    .info .more{
        flex-direction: column;
        align-items: center;
    }

    footer{
        font-size: 18px;
        display: flex;
        flex-direction: column;
        padding: 10px;
    }

    footer div{
        padding: 5px;
    }

    .body{
        background-image: url(https://images.pexels.com/photos/2757549/pexels-photo-2757549.jpeg?cs=srgb&dl=pexels-elias-tigiser-2757549.jpg&fm=jpg); 
        background-size: cover; 
        background-position: center center; 
        background-repeat: no-repeat; 
    } 
}